rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Settings Collection Rules
    match /settings/{document} {
      allow read, write: if true;
    }

    // Registrations Collection Rules
    match /registrations/{document} {
      allow read, write: if true;
    }
  }
}
